h1 {
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .collapse.navbar-collapse {
    padding-left: 0px;
  }
  .navbar-collapse {
    padding-left: 0px;
  }
  .navbar-form.navbar-left {
    padding-left: 0px;
  }
}

.navbar {
  margin-bottom: 0px;
}

.thumbnail {
  margin-top: 15px;
}

.panel-footer {
  background-color: #337ab7;
  color: white;
}

.caption {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar-btn {
  margin-left: 15px;
}

.thumbnail img {
	height: 200px;
}

.btn-sm {
	margin-right: 5px;
}